html{
    overflow-x: hidden;
}
h1{
    color:#0A3871;
}

body, div{
    background:  #E5E5E5;
}

p.text-center{
    font-size: 12px;
}

input.btn{
    background: #0A3871;
    color: white;
    border-radius: 24px;
    width:328px;
    height:67px;
    margin-left: -70px;
}
.condition{
    margin-top: 0px;
    margin-left: 220px;
    z-index: 1;
}
#btn-desencriptar{
    margin-top: 420px;
}
h1.text-center{
    margin-top: 20px;
}
#btn{
    margin-top: -27px;
    margin-left: 10px;
}

textarea{
    border: none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 1;
  
    

} 

.logo{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 31.09px;
height: 48px;
left: 40px;
top: 40px;
z-index: 1;
}

.output{

width: 400px;
height: 425px;
left: 1000px;
top: 40px;

/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}


footer p.text-center{
    width: 100%;
    height: 10%;
    padding-top: 20px;
    margin: 0 auto;
    position: absolute;
    font-size: 15px;
    color: #0A3871;
}
footer p.text-center i{
    padding: 5px;
    font-size: 20px;
 
}
.output, .input{
    padding: 5px;
    font-size: 20px;
    
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 830px){
    .input{
        margin-top: 50px;
        margin-left: -50px;
        
    }
  
    #btn{
        width: 23%;
    
    }
    #btn-desencriptar{
        width: 150%;
        margin-left: -20px;
        margin-top: 465px;
    }
    #btn-copy{
        width: 150%;
        margin-left: 50px;
        margin-top: 55px;
    }
    .condition{
       
    }
    
}

/* Teléfonos */
@media only screen and (max-width: 575px){
    html{
        background-color:  #E5E5E5;
    }
    .container-fluid{
        max-width: 550px;
        margin: 0 auto;
        padding: 0;
        height: 30%;
    
    }
    body, .container-fluid{
        background:  #E5E5E5;
    }

     .row, .col-sm-4, .card-title, .card-text {
        margin-top: 20px;
        background: #E5E5E5;
        border: none;
    }
    .card{
        margin-top: 60px;
    }

    .input{
         width: 350px;
         margin-left: -88px;
         margin-top: -35px;
         font-size: 32px;
         height: 80%;
         border-radius: 24px;  
         padding: 5px;

    }
    .output{
        margin-left: 0px;
        margin-top: -170px;
        font-size: 24px;
        padding: 10px;
        border-radius: 24px;    
        text-align: center;
        height: 80%;    
        width: 95%;
    }
    .condition{
        margin-top: -150px;
        margin-left: -55px;
        font-size: 80%;
        height: 50%;
    }
    #btn-desencriptar{
        margin-top: -185px;
        margin-left: -70px;
    }
    #btn{
        margin-left: -70px;
        margin-top: -140px;
    }

    .logo{
        width: 28px;
        height: 44px;   
        left: 20px;
        top: 20px;  
    }
    #btn-copy{
        display: none;
    }
    .output>img{
        display: none;
    }

    footer{
        margin-left: -10px;
        width: 100%;
    }
    

}
